### Reading and writing Csv files
* read_csv() ---> used to read data from csv file into a dataframe
* to_csv() ---> used to write data from dataframe to csv file

In [9]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv('Test.csv') #reading csv file t

In [7]:
print(df.head)

<bound method NDFrame.head of   Unnamed: 0  Col1  Col2  Col3
0       Row1     0     1     2
1       Row2     3     4     5
2       Row3     6     7     8
3       Row4     9    10    11>

In [8]:
df.head()

  Unnamed: 0  Col1  Col2  Col3
0       Row1     0     1     2
1       Row2     3     4     5
2       Row3     6     7     8
3       Row4     9    10    11

In [10]:
df1=pd.DataFrame(np.arange(0,16).reshape(4,4),columns=['A','B','C','D'])

In [11]:
print(df1)

    A   B   C   D
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [12]:
df1.to_csv('E:\Learn\Python\TestData.csv')

### Merging dataframes
2 or more dataframes can be merged based on
* common column between them
* row values of those column names

In [13]:
df2=pd.DataFrame({'ID':['A','B','C','B','A','D'],'values_1':[0,1,2,3,4,5]})

In [14]:
print("First dataframe\n")
print(df2)

First dataframe

  ID  values
0  A       0
1  B       1
2  C       2
3  B       3
4  A       4
5  D       5

In [15]:
df3=pd.DataFrame({'ID':['B','C','B','D'],'values_2':[6,7,8,9]})
print("Second dataframe\n")
print(df3)

Second dataframe

  ID  values_2
0  B         6
1  C         7
2  B         8
3  D         9

In [16]:
print("Merged dataframe\n")
print(pd.merge(df2,df3))

Merged dataframe

  ID  values  values_2
0  B       1         6
1  B       1         8
2  B       3         6
3  B       3         8
4  C       2         7
5  D       5         9

#### Left Merge
* takes all the rows from left dataframe and merges it with corresponding matching values from right data frame.
* those rows which dont have matching values in right are assigned NaN values
* basic parameter to include in merge function (how='left')

In [18]:
print("First dataframe\n",df2)

First dataframe
   ID  values
0  A       0
1  B       1
2  C       2
3  B       3
4  A       4
5  D       5

In [19]:
print("Second dataframe\n",df3)

Second dataframe
   ID  values_2
0  B         6
1  C         7
2  B         8
3  D         9

In [20]:
print("Left merged dataframe\n")
print(pd.merge(df2,df3,how='left'))

Left merged dataframe

  ID  values  values_2
0  A       0       NaN
1  B       1       6.0
2  B       1       8.0
3  C       2       7.0
4  B       3       6.0
5  B       3       8.0
6  A       4       NaN
7  D       5       9.0

#### Right merge
* takes all the rows from right dataframe and merges it with corresponding matching values from left data frame.
* those rows which dont have matching values in left are assigned NaN values
* basic parameter to include in merge function (how='right')

In [22]:
df4=pd.DataFrame({'ID':['B','Z','C','B','D','E'],'values_3':[6,7,8,9,10,11]})
print("Right Dataframe\n",df4)

Right Dataframe
   ID  values_3
0  B         6
1  Z         7
2  C         8
3  B         9
4  D        10
5  E        11

In [23]:
print("Left dataframe\n",df3)

Left dataframe
   ID  values_2
0  B         6
1  C         7
2  B         8
3  D         9

In [24]:
print("Right merged dataframe\n")
print(pd.merge(df3,df4,how='right'))

Right merged dataframe

  ID  values_2  values_3
0  B       6.0         6
1  B       8.0         6
2  B       6.0         9
3  B       8.0         9
4  Z       NaN         7
5  C       7.0         8
6  D       9.0        10
7  E       NaN        11

#### Outer merge
This returns all the rows both the dataframes and if there is no match, NaN is assigned

In [25]:
print("dataframe 1\n",df3)
print("dataframe 2\n",df4)
print("Outer merged dataframe\n",pd.merge(df3,df4,how='outer'))

dataframe 1
   ID  values_2
0  B         6
1  C         7
2  B         8
3  D         9
dataframe 2
   ID  values_3
0  B         6
1  Z         7
2  C         8
3  B         9
4  D        10
5  E        11
Outer merged dataframe
   ID  values_2  values_3
0  B       6.0         6
1  B       6.0         9
2  B       8.0         6
3  B       8.0         9
4  C       7.0         8
5  D       9.0        10
6  Z       NaN         7
7  E       NaN        11

#### Merging on multiple columns
* two or more columns belonging to different dataframes can be joined if they have the same name in both dataframes

In [26]:
data1=pd.DataFrame({'column1':['Ind','USA','Ind','Can','Pak','None'],
                   'column2':['A','B','C','B','A','D'],
                   'value_1':[0,1,2,3,4,5]})

In [27]:
data2=pd.DataFrame({'column1':['USA','Can','None','USA','Ind','Pak'],
                   'column2':['B','Z','C','B','D','E'],
                   'value_2':[6,7,8,9,10,11]})

In [28]:
print('Dataframe1\n',data1)
print('Dataframe2\n',data2)

Dataframe1
   column1 column2  value_1
0     Ind       A        0
1     USA       B        1
2     Ind       C        2
3     Can       B        3
4     Pak       A        4
5    None       D        5
Dataframe2
   column1 column2  value_2
0     USA       B        6
1     Can       Z        7
2    None       C        8
3     USA       B        9
4     Ind       D       10
5     Pak       E       11

In [30]:
print("Outermeged dataframe\n")
print(pd.merge(data1,data2,on=['column1','column2'],how='outer'))

Outermeged dataframe

   column1 column2  value_1  value_2
0      Ind       A      0.0      NaN
1      USA       B      1.0      6.0
2      USA       B      1.0      9.0
3      Ind       C      2.0      NaN
4      Can       B      3.0      NaN
5      Pak       A      4.0      NaN
6     None       D      5.0      NaN
7      Can       Z      NaN      7.0
8     None       C      NaN      8.0
9      Ind       D      NaN     10.0
10     Pak       E      NaN     11.0

#### Merge on index
* in the previous merge, two dataframes are merged based on their common rows of common columns
* first it has to find commom columns and then common rows of that common column to get merged.
* for index merge, column of one data frame is merged with index of another dataframe

* For one dataframe, the common values are changed from rows to indexes.
* two new parameters are needed for this purpose.
* the left_on parameter takes the column name of left dataframe and right_index parameter has to be set to 0

In [32]:
print('Dataframe 1\n',df2)

Dataframe 1
   ID  values
0  A       0
1  B       1
2  C       2
3  B       3
4  A       4
5  D       5

In [33]:
df3=pd.DataFrame(np.arange(10,13,1),index=['A','B','C'],columns=['values2'])
print("dataframe 2\n",df3)

dataframe 2
    values2
A       10
B       11
C       12

In [34]:
print("Merged on index\n")
print(pd.merge(df2,df3,left_on='ID',right_index=True))

Merged on index

  ID  values  values2
0  A       0       10
4  A       4       10
1  B       1       11
3  B       3       11
2  C       2       12