### Replace values
* replace() --> used to replace values in a series and a dataframe

#### To replace single value
replace(current_value,new_value)

#### To replace multiple values
replace([val1,val2],[new_val1,new_val2])

In [1]:
import numpy as np
import pandas as pd

#### Replace in series

In [4]:
srs = pd.Series(['A','B','C','D','A','A','C','E'])
print("Original series\n",srs)

Original series
 0    A
1    B
2    C
3    D
4    A
5    A
6    C
7    E
dtype: object

In [5]:
print("Replace single values\n")
print(srs.replace('C',np.nan))

Replace single values

0      A
1      B
2    NaN
3      D
4      A
5      A
6    NaN
7      E
dtype: object

In [6]:
print("Replace multiple values\n")
print(srs.replace(['B','E'],[1,3]))

Replace multiple values

0    A
1    1
2    C
3    D
4    A
5    A
6    C
7    3
dtype: object

#### Replace in dataframe

In [14]:
df2=pd.read_csv('real_estate.csv')

In [15]:
df2.head()

         city    zip state  beds  baths  sq__ft         type  price
0  SACRAMENTO  95838    CA     2      1     836  Residential  59222
1  SACRAMENTO  95823    CA     3      1    1167  Residential  68212
2  SACRAMENTO  95815    CA     2      1     796  Residential  68880
3  SACRAMENTO  95815    CA     2      1     852  Residential  69307
4  SACRAMENTO  95824    CA     2      1     797  Residential  81900

In [16]:
print("single value is changed in dataframe\n")
df2=df2.replace('SACRAMENTO','Changed SACRAMENTO')
print(df2)

single value is changed in dataframe

                   city    zip state  beds  baths  sq__ft         type   price
0    Changed SACRAMENTO  95838    CA     2      1     836  Residential   59222
1    Changed SACRAMENTO  95823    CA     3      1    1167  Residential   68212
2    Changed SACRAMENTO  95815    CA     2      1     796  Residential   68880
3    Changed SACRAMENTO  95815    CA     2      1     852  Residential   69307
4    Changed SACRAMENTO  95824    CA     2      1     797  Residential   81900
..                  ...    ...   ...   ...    ...     ...          ...     ...
358  Changed SACRAMENTO  95821    CA     3      1    1014  Residential  113000
359  Changed SACRAMENTO  95820    CA     4      2    1448  Residential  114000
360  Changed SACRAMENTO  95838    CA     3      1     966  Residential  114000
361  Changed SACRAMENTO  95823    CA     2      1     779  Residential  114750
362            ANTELOPE  95843    CA     2      2     836        Condo  115000

[363 rows x 8 columns]

In [17]:
df2.head(15)

                  city    zip state  beds  baths  sq__ft         type   price
0   Changed SACRAMENTO  95838    CA     2      1     836  Residential   59222
1   Changed SACRAMENTO  95823    CA     3      1    1167  Residential   68212
2   Changed SACRAMENTO  95815    CA     2      1     796  Residential   68880
3   Changed SACRAMENTO  95815    CA     2      1     852  Residential   69307
4   Changed SACRAMENTO  95824    CA     2      1     797  Residential   81900
5   Changed SACRAMENTO  95841    CA     3      1    1122        Condo   89921
6   Changed SACRAMENTO  95842    CA     3      2    1104  Residential   90895
7   Changed SACRAMENTO  95820    CA     3      1    1177  Residential   91002
8       RANCHO CORDOVA  95670    CA     2      2     941        Condo   94905
9            RIO LINDA  95673    CA     3      2    1146  Residential   98937
10  Changed SACRAMENTO  95838    CA     3      2     909  Residential  100309
11  Changed SACRAMENTO  95823    CA     3      2    1289  Residential  106250
12  Changed SACRAMENTO  95815    CA     1      1     871  Residential  106852
13  Changed SACRAMENTO  95822    CA     3      1    1020  Residential  107502
14  Changed SACRAMENTO  95842    CA     2      2    1022  Residential  108750

In [18]:
df2=df2.replace(['Changed SACRAMENTO','CA'],['New Sacramento','AC'])
print("Multiple values changed in dataframe\n")
print(df2.head(15))

Multiple values changed in dataframe

              city    zip state  beds  baths  sq__ft         type   price
0   New Sacramento  95838    AC     2      1     836  Residential   59222
1   New Sacramento  95823    AC     3      1    1167  Residential   68212
2   New Sacramento  95815    AC     2      1     796  Residential   68880
3   New Sacramento  95815    AC     2      1     852  Residential   69307
4   New Sacramento  95824    AC     2      1     797  Residential   81900
5   New Sacramento  95841    AC     3      1    1122        Condo   89921
6   New Sacramento  95842    AC     3      2    1104  Residential   90895
7   New Sacramento  95820    AC     3      1    1177  Residential   91002
8   RANCHO CORDOVA  95670    AC     2      2     941        Condo   94905
9        RIO LINDA  95673    AC     3      2    1146  Residential   98937
10  New Sacramento  95838    AC     3      2     909  Residential  100309
11  New Sacramento  95823    AC     3      2    1289  Residential  106250
12  New Sacramento  95815    AC     1      1     871  Residential  106852
13  New Sacramento  95822    AC     3      1    1020  Residential  107502
14  New Sacramento  95842    AC     2      2    1022  Residential  108750

### Renaming indexes

In [19]:
df3=pd.DataFrame(abs(np.random.randn(9)).reshape(3,3),
                index=['row1','row2','row3'],
                columns=['col1','col2','col3'])

In [20]:
print("Original dataframe\n",df3)

Original dataframe
           col1      col2      col3
row1  1.287475  1.385408  0.063470
row2  0.613627  1.309408  0.716680
row3  0.657859  0.280341  0.350598

In [22]:
print("Changing row and column indexes\n")
print(df3.rename(index=str.upper,columns=str.title))

Changing row and column indexes

          Col1      Col2      Col3
ROW1  1.287475  1.385408  0.063470
ROW2  0.613627  1.309408  0.716680
ROW3  0.657859  0.280341  0.350598

In [23]:
print("Chaning specific row and column indexes\n")
print(df3.rename(index={'row3':'ROW3'},columns={'col3':'col_index3'}))

Chaning specific row and column indexes

          col1      col2  col_index3
row1  1.287475  1.385408    0.063470
row2  0.613627  1.309408    0.716680
ROW3  0.657859  0.280341    0.350598