# Dictionary
* A Dictionary is a collection which is unordered, chanageable and indexed
* Dictionaries are defined with {}
* Dictionaries have key value pairs

In [1]:
# Empty dictionary
dic={}

In [2]:
type(dic)

dict

In [6]:
dict()

{}

In [7]:
type(dict())

dict

In [2]:
my_dict={'Sub1':'Social','Sub2':'Science','Sub3':'Maths'}

In [10]:
my_dict

{'Sub1': 'Social', 'Sub2': 'Science', 'Sub3': 'Maths'}

In [5]:
type(my_dict)

dict

## indexing

In [11]:
##indexing with keys

my_dict['Sub1']

'Social'

In [14]:
#indexing with for loop
for x in my_dict:
    print(x)

Sub1
Sub2
Sub3

In [15]:
for x in my_dict.values():
    print(x)

Social
Science
Maths

In [16]:
for x in my_dict.items():
    print(x)

('Sub1', 'Social')
('Sub2', 'Science')
('Sub3', 'Maths')

## Adding new items

In [3]:
my_dict['Sub4']='English'

In [18]:
my_dict

{'Sub1': 'Social', 'Sub2': 'Science', 'Sub3': 'Maths', 'Sub4': 'English'}

In [4]:
my_dict['Sub4']='Tamil'

In [20]:
my_dict

{'Sub1': 'Social', 'Sub2': 'Science', 'Sub3': 'Maths', 'Sub4': 'Tamil'}

In [5]:
#printing all keys in dictionary
print(my_dict.keys())

dict_keys(['Sub1', 'Sub2', 'Sub3', 'Sub4'])

In [6]:
#Printing all values in dictionary
print(my_dict.values())

dict_values(['Social', 'Science', 'Maths', 'Tamil'])

In [7]:
#printing all key value pairs
print(my_dict.items())

dict_items([('Sub1', 'Social'), ('Sub2', 'Science'), ('Sub3', 'Maths'), ('Sub4', 'Tamil')])

In [8]:
#Indexing using get()
print(my_dict.get('Sub2'))

Science

In [12]:
#Check if an item is present using get()
print(my_dict.get('Sub5'))

#returns 1 if an item is not present
print(my_dict.get('Sub5',1))

None
1

In [11]:
#Nested Dictionary

author1={'Jeff Keller':'Attitude is Everything'}
author2={'james Clear':'Atomic Habits'}
author3={'Echkart Toelle':'Power of Now'}

selfhelp={'book1':author1,'book2':author2,'book3':author3}

In [23]:
selfhelp

{'book1': {'Jeff Keller': 'Attitude is Everything'},
 'book2': {'james Clear': 'Atomic Habits'},
 'book3': {'Echkart Toelle': 'Power of Now'}}

In [24]:
print(selfhelp['book1'])

{'Jeff Keller': 'Attitude is Everything'}

In [25]:
print(selfhelp['book1']['Jeff Keller'])

Attitude is Everything

### Default Dictionary
Advanced dictionary data type that allows you to specify a default data type.

In [13]:
from collections import defaultdict #import default dict class

In [14]:
my_default_dict=defaultdict(int)

In [15]:
my_default_dict['age']=29
print(my_default_dict)

defaultdict(<class 'int'>, {'age': 29})

In [16]:
print(my_default_dict['email'])
#because the default dict type is int, the default value which is not assigned is returned as 0

0

## Tuple
A Tuple is used to store mutliple items in a single variable.
A Tuple is a collection which is ordered and unchangeable.
Its is represented with round brackets.
It is immutable - individual items cant be changed.. but the whole tuple can be assigned another value
* Tuple can have items with same value (duplicates allowed)

In [26]:
# Create empty tuple
my_tuple=tuple()

In [27]:
type(my_tuple)

tuple

In [29]:
my_tuple = ('Lakshana','Adheesh','Keerthi')

In [30]:
my_tuple

('Lakshana', 'Adheesh', 'Keerthi')

In [31]:
my_tuple[1]

'Adheesh'

In [32]:
my_tuple[0] = 'Lucky'

TypeError: 'tuple' object does not support item assignment

In [33]:
my_tuple=('Shalu','Pappu','Mayil')

In [34]:
my_tuple

('Shalu', 'Pappu', 'Mayil')

In [35]:
fruits_tuple=('apple')

In [36]:
type(fruits_tuple)

str

In [37]:
#To create a tuple with one element, comma has to be added to let python know its a tuple and not string
fruits_tuple=('apple',)

In [38]:
type(fruits_tuple)

tuple

In [44]:
fruits_tuple=('apple','banana','kiwi','mango','pineapple','apple','apple')

In [45]:
fruits_tuple[1:4]
#includes item at first index but doesn't include item at 4

('banana', 'kiwi', 'mango')

In [46]:
fruits_tuple[-3:-1]
#includes item at beginning index but doesn't include item at end index

('pineapple', 'apple')

In [47]:
len(fruits_tuple)

7

In [48]:
fruits_tuple.count('apple')

3

In [50]:
fruits_tuple.index('kiwi')

2

In [51]:
del my_tuple
#to delete the tuple completely

In [52]:
my_tuple

NameError: name 'my_tuple' is not defined

##### Unpacking a tuple
A tuple can be unpacked and the values can be assigned to different variables
* The number of variables must match the number of values in the tuple.

In [54]:
name_tuple=('Laksh','Adhe','Keerthi')

In [55]:
name_tuple

('Laksh', 'Adhe', 'Keerthi')

In [57]:
(Black,Green,White)=name_tuple

In [58]:
name_tuple

('Laksh', 'Adhe', 'Keerthi')

In [59]:
Black

'Laksh'

In [60]:
type(Black)

str

In [61]:
White

'Keerthi'

In [62]:
(Blue,*Red)=name_tuple
# * Unpacks the tuple and assigns the remaining variables as list to the new name

In [63]:
Red

['Adhe', 'Keerthi']

##### Looping through tuple

In [64]:
for x in fruits_tuple:
    print(x)

apple
banana
kiwi
mango
pineapple
apple
apple

In [65]:
for i in range(len(fruits_tuple)):
    print(fruits_tuple[i])

apple
banana
kiwi
mango
pineapple
apple
apple

In [66]:
i=0
while i < len(fruits_tuple):
    print(fruits_tuple[i])
    i=i+1

apple
banana
kiwi
mango
pineapple
apple
apple

#### Joining tuples

In [67]:
tuple1=('a','b')
tuple2=(1,2,3,4,5,6)

In [68]:
tuple3= tuple1+tuple2

In [69]:
print(tuple3)

('a', 'b', 1, 2, 3, 4, 5, 6)

In [70]:
tuple1*2

('a', 'b', 'a', 'b')

In [71]:
tuple2*2

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)