## Python Lists
A list in python is a mutable and ordered sequence of elements.
Each element is called an item
Lists are defined in Square brackets []

In [1]:
my_list=['red','blue','green','yellow']

In [2]:
my_list

['red', 'blue', 'green', 'yellow']

In [4]:
type(my_list)

list

In [5]:
type([])

list

##### Append
Appends items at the end of the list

In [6]:
my_list.append('Adheesh')

In [7]:
my_list

['red', 'blue', 'green', 'yellow', 'Adheesh']

In [8]:
my_list.append([10,20])
my_list

['red', 'blue', 'green', 'yellow', 'Adheesh', [10, 20]]

##### Insert items in a specfic order
Adds items at the specified position in a list

In [9]:
my_list.insert(3,'fish')
my_list

['red', 'blue', 'green', 'fish', 'yellow', 'Adheesh', [10, 20]]

In [10]:
my_list.insert(0,'octopus')
my_list

['octopus', 'red', 'blue', 'green', 'fish', 'yellow', 'Adheesh', [10, 20]]

##### Extend
Extends the list by adding items at the end

In [11]:
my_num=[1,3,5,7,9]

In [12]:
my_num

[1, 3, 5, 7, 9]

In [16]:
my_num.extend([11])
my_num

[1, 3, 5, 7, 9, 11, 11]

In [19]:
my_num.extend([13])
my_num

[1, 3, 5, 7, 9, 11, 11, 13]

In [20]:
my_num

[1, 3, 5, 7, 9, 11, 11, 13]

#### Indexing in list

In [22]:
my_list[1:3]

['red', 'blue']

In [25]:
print(len(my_list))
my_list[3:len(my_list)]

8

['green', 'fish', 'yellow', 'Adheesh', [10, 20]]

In [26]:
my_list[-1]

[10, 20]

In [27]:
my_num[-2]

11

In [29]:
my_num[-3:-1]

[11, 11]

##### sum() method

In [30]:
###Sum items in the list
sum(my_num)

60

In [31]:
###Repeats the list twice
my_num*2

[1, 3, 5, 7, 9, 11, 11, 13, 1, 3, 5, 7, 9, 11, 11, 13]

##### Pop() method
Removes the item from the list

In [32]:
my_list.pop()

[10, 20]

In [33]:
my_list

['octopus', 'red', 'blue', 'green', 'fish', 'yellow', 'Adheesh']

In [34]:
my_list.pop(1)

'red'

In [35]:
my_list

['octopus', 'blue', 'green', 'fish', 'yellow', 'Adheesh']

##### Count()
Calculates the total occurence of the given element in list

In [36]:
my_num

[1, 3, 5, 7, 9, 11, 11, 13]

In [37]:
my_num.count(11)

2

In [38]:
my_num.count(13)

1

##### index()
Returns the first occurence of the item

In [40]:
my_num.index(5)

2

In [41]:
my_num.index(11)

5

In [43]:
my_num.index(11,6,7)

6

##### min() and max()

In [44]:
min(my_num)

1

In [45]:
max(my_num)

13

In [46]:
min(my_list)

'Adheesh'

In [47]:
max(my_list)

'yellow'

In [48]:
my_list

['octopus', 'blue', 'green', 'fish', 'yellow', 'Adheesh']

#### List comprehension using for loops
List comprehension allows you to create a new list based on an existing list in a condensed way

In [1]:
#Loops the list over the range and creates a new list with values>6
num_gt_6=[x for x in range(1,20) if x > 6]

In [2]:
num_gt_6

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [3]:
#increment  x value
num_inc_1=[x + 1 for x in range(1,5)]
print(num_inc_1)

[2, 3, 4, 5]

#### Sort the values in list
There are two functions sort() and sorted()
* sort() - sorts the list from smallest to largest
* sorted() - if you want to sort with more options, largest to smallest and many more

In [5]:
my_num_list=[5,7,2,-1,0,8]

In [7]:
my_num_list.sort()

None

In [8]:
print(my_num_list)

[-1, 0, 2, 5, 7, 8]

In [9]:
my_num_list=[5,7,2,-1,0,8]

In [10]:
# sort reversely based on absolute value
new_num_list=sorted(my_num_list,key=abs,reverse=True)

In [11]:
print(new_num_list)

[8, 7, 5, 2, -1, 0]

### Zip function
* used to combine two lists into a list of tuples
* Breaking a tuple into two lists
* Zip() returns a generator, so we have to wrap it in a list to print it

#### Combining two lists into  a tuple

In [12]:
list1=['a','b','c','d']
list2=[1,3,5,7]

In [13]:
zip(list1,list2)

In [17]:
print(list(zip(list1,list2)))

[('a', 1), ('b', 3), ('c', 5), ('d', 7)]

In [18]:
zip1=list(zip(list1,list2))

In [19]:
type(zip1)

list

In [20]:
print(zip1[0])

('a', 1)

In [21]:
print(type(zip1[0]))

<class 'tuple'>

#### Breaking a tuple into two lists

In [23]:
#create list of tuples
pairs=[('a',1),('b',2),('c',3),('d',4)]

In [24]:
#break the tuple into two lists
letters, numbers = zip(*pairs)

In [25]:
print(letters)
print(numbers)

('a', 'b', 'c', 'd')
(1, 2, 3, 4)

In [26]:
type(letters)

tuple