## SET
A Set is a immutable, unordered and unindexed collection of unique elements. 
1. A set can contain different data types
2. Elements can be added but a set cannot be changed once its created
3. A set cannot be indexed
4. A set cannot have duplicate values
5. Set items are unordered. They can appear in different order everytime we use them, and cannot be referred to by index or key

In [1]:
##Creating an empty set
set1=set()

In [4]:
print(set1)
type(set1)
print(type(set1))

set()
<class 'set'>

In [25]:
set1={1,2,3,4,5,6,7,8}

In [6]:
set1

{1, 2, 3, 4, 5, 6, 7, 8}

In [8]:
set2={2,4,6,8,10}
set3={1,3,5,7,9}

In [10]:
print(set2)
print(set3)

{2, 4, 6, 8, 10}
{1, 3, 5, 7, 9}

##### Add elements to the set
Adds an element to the set

In [26]:
set1.add(9)
#can take only one argument

In [13]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [27]:
set1.add(10)
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

##### Difference between two sets
Returns a set that is the difference of 2 other sets

In [28]:
set1.difference(set2)
#shows only the elements in set1 that are not in set2

{1, 3, 5, 7, 9}

In [29]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [30]:
###Not only differences but also updates set2 to the recent values
set1.difference_update(set2)

In [31]:
set1

{1, 3, 5, 7, 9}

##### Intersection between 2 sets
Returns a set that is an intersection of 2 other sets

In [32]:
set1={1,2,3,4,5,6,7,8,9,10}

In [33]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [34]:
set1.intersection(set3)

{1, 3, 5, 7, 9}

In [35]:
set1.intersection_update(set3)

In [36]:
set1

{1, 3, 5, 7, 9}

##### Discard()
Discards the element passed through this function from the set

In [37]:
set_fruits={'apple','plum','orange','grape','banana'}

In [38]:
set_fruits

{'apple', 'banana', 'grape', 'orange', 'plum'}

In [39]:
set_fruits.discard('grape')

In [40]:
set_fruits

{'apple', 'banana', 'orange', 'plum'}

#### using set()constructor to make set

In [41]:
colors_set=set(('red','blue','white','green'))

In [42]:
colors_set

{'blue', 'green', 'red', 'white'}

In [44]:
print(type(colors_set))

<class 'set'>

##### Copy()
Allows copying items from one set to another

In [47]:
set_fruits1=set_fruits.copy()

In [48]:
set_fruits1

{'apple', 'banana', 'orange', 'plum'}

In [50]:
set_fruits1.add('pineapple')

In [52]:
set_fruits1.add('mango')

In [53]:
set_fruits1

{'apple', 'banana', 'mango', 'orange', 'pineapple', 'plum'}

##### Clear()
Clear removes all the elements from the set

In [54]:
set_fruits1.clear()

In [55]:
set_fruits1

set()

##### isdisjoint()
Returns TRUE if no items in set1 is present in set2

In [57]:
set_fruits.isdisjoint(colors_set)

True

#### issubset()
Returns TRUE if all items in set 1 are present in set 2

In [58]:
set_num={1,2,3,4,5,6,7,8,9,10}
set_oddnum={1,3,5}
set_evennum={2,4,6}

In [59]:
set_oddnum.issubset(set_num)

True

In [60]:
set_oddnum.issubset(set_evennum)

False

##### issuperset()
Returns TRUE if all items in set 2 are present in set 1

In [61]:
set_num.issuperset(set_evennum)

True

In [62]:
set_evennum.issuperset(set_num)

False

##### union()
Returns the union of 2 sets

In [63]:
num=set_oddnum.union(set_evennum)

In [64]:
num

{1, 2, 3, 4, 5, 6}

##### update()
Inserts the items from set 2 into set 1

In [65]:
x={1,2,3}
y={5,6,7}

In [66]:
print(x)
print(y)

{1, 2, 3}
{5, 6, 7}

In [67]:
x.update(y)

In [68]:
x

{1, 2, 3, 5, 6, 7}

##### symmetric_difference()
Returns a set that contains all items from both sets except the ones that are present in both(common)

In [69]:
x={'apple','banana','plum','grape','mango'}
y={'google','yahoo','apple','tesla','spacex'}

In [71]:
print(x)
print(y)

{'plum', 'grape', 'apple', 'banana', 'mango'}
{'google', 'apple', 'yahoo', 'spacex', 'tesla'}

In [72]:
x.symmetric_difference(y)
##removes apple that is present in both sets

{'banana', 'google', 'grape', 'mango', 'plum', 'spacex', 'tesla', 'yahoo'}

In [73]:
x

{'apple', 'banana', 'grape', 'mango', 'plum'}

In [74]:
x.symmetric_difference_update(y)

In [75]:
x

{'banana', 'google', 'grape', 'mango', 'plum', 'spacex', 'tesla', 'yahoo'}